/*
fonts
*/

@import url('https://fonts.googleapis.com/css?family=Marcellus');

/*
NORMALIZE
*/

@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
===================================
Custom Styles
===================================
*/

body {
  margin-top: 1em;
  background-color: #0F5474;
  font-family: 'Marcellus', serif;
}

h1, h2, h3, h4, h5, li {
  color: white;
}

/*
===================================
Setting Up Main Grid
===================================
*/

.wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 700px 100px;
  grid-gap: 3px;
  grid-template-areas:
  "h h h h h h h h h h h h"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f"
}

.header {
  grid-column: h;
}

.content {
  grid-column: c;
}

.footer {
  grid-column: f;
}

/*
===================================
Content Grid
===================================
*/

.content > div {
  width: 500px;
  height: 100%;
  text-align: center;
}

.wrapper .content {
  display: grid;
  grid-template-rows: auto repeat(2, 200px);
}

/*
===================================
weather Information Section
===================================
*/

.weather-info ul {
  height: 100%;
}

li {
  color: white;
  padding: 6px;
  font-size: 24px;
}

/*
===================================
Header
===================================
*/

.header h1 {
  font-family: 'Marcellus', serif;
  font-size: 50px;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

/*
===================================
Weather Picture
===================================
*/

.weather-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
===================================
Content
===================================
*/

.content h2 {
  font-family: 'Marcellus', serif;
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 2em;
  letter-spacing: 1.5px;
}

canvas {
  margin-top: -2em;
  margin-left: 17px;
  width: 300;
  height: 300;
}

button {
  margin-right: 2.2em;
  margin-top: 1.3em;
  font-family: 'Marcellus', serif;
  padding: 6px;
  border-radius: 5px;
  color: white;
  background-color: #0F5474;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #0066ff;
}

.weather-info {
  margin-left: 2em;
}

ul {
  margin-right: 20px;
}

li {
  padding: 15px;
  font-style: italic;
}
/*
===================================
Footer
===================================
*/

.footer {
  position: relative;
}

h4 {
  position: absolute;
  font-size: 14px;
  font-family: 'Marcellus', serif;
  margin-left: 6px;
}

a {
  text-decoration: none;
  color: white;
}
